body{
    margin: 0;
}
div {
  width: 200px;
  height: 300px;
  background-color: #e5989b;
}

h1 {
  background-color: pink;
  width: 100px;
  padding-left: 100px;
  padding-top: 50px;
  margin-bottom: 0;
}
span{
    margin-left: 50px;
}
#one {
  background-color: #e5989b;
  border-width: 5px;
  border-color: black;
  border-style: dashed;
  padding-right: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
}
#two {
  background-color: #b5838d;
  border: 10px solid #d3d3d3;
  border-left: 20px dashed black;
  margin: 200px;
}
#three {
  backgroun d-color: #6d6875;
  border: 10px solid blue;
  border-radius: 300px;
}
button{
    padding:10px 20px;
}
