section {
  background-color: darkgrey;
  width: 400px;
  height: 400px;
}
div {
  background-color: aliceblue;
  width: 70%;
  height: 20%;
}
h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 200%;
}
h2 {
  font-size: 2em;
}
p {
  font-size: 1em;
}
article {
  font-size: 10px;
}
